[submodule "lib/DebugJson"]
	path = lib/DebugJson
	url = https://github.com/PeaPodTechnologies/DebugJson
[submodule "lib/I2CIP-SHT45"]
	path = lib/I2CIP-SHT45
	url = https://github.com/PeaPodTechnologies/I2CIP-SHT45
[submodule "lib/I2CIP-JHD1313"]
	path = lib/I2CIP-JHD1313
	url = https://github.com/PeaPodTechnologies/I2CIP-JHD1313
[submodule "lib/I2CIP-PCA9685"]
	path = lib/I2CIP-PCA9685
	url = https://github.com/PeaPodTechnologies/I2CIP-PCA9685
[submodule "lib/I2CIP-HT16K33"]
	path = lib/I2CIP-HT16K33
	url = https://github.com/PeaPodTechnologies/I2CIP-HT16K33